= render "layouts/header_toppage"
- breadcrumb :buyItem
= render "layouts/breadcrumbs"
.mainmypage
  = render "sidebar"  
  = render "buy"
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"
