= render "layouts/header_toppage"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
= render "sidebar"
.mainmypage 
  = render "profile"
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"


