= render "layouts/header_toppage"
- breadcrumb :mypage
= render "layouts/breadcrumbs"
.mainmypage
  = render "sidebar" 
  = render "profile"
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"