= render "layouts/header_toppage"
- breadcrumb :showItem
= render "layouts/breadcrumbs"
.mainmypage
  = render "sidebar" 
  = render "main-content"
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"
