-# = render "layouts/header_toppage"
.mainmypage
  .main-content  
    .content
      %section.mypage-user-icon
        = link_to "#" do
          .figure
            =image_tag src="icon-01.png",size:"60x60"
          .h2= @user.nickname
          .mypage-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0  
  .u-container
    .u-main
      .u-introduction
        - if @user.profile.introduction.present?
          =@user.profile.introduction
        - else
          %p 
            自己紹介文はまだありません
      .u-items
        %h2 
          この出品者の商品
        .u-items__list
          - if @items.present?
            .productLists
              = render partial: "items/item", collection: @items
          - else
            %h5
              出品した商品はありません
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"
