= render "layouts/header_toppage"
.main
  .content
    %section.mypage-user-icon
      = link_to user_path(@user) do
        .figure
          =image_tag src="icon-01.png",size:"60x60"
        .h2= @user.nickname
        .mypage-number
          %div
            評価
            %span.bold 0
          %div
            出品数
            %span.bold 0
.u-container
  .u-main
    .u-introduction
      =@user.profile.introduction
    .u-items
      %h2 
        この出品者の商品
      .u-items__list
        - if @items.present?
          .u-items__list__box
            .productLists
              = render partial: "items/item", collection: @items
        - else
          %p
            出品した商品はありません
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"
