.productList
  = link_to item_path(item) do
    .productList--top
      %figure.productList--top--img
        = image_tag item.images[0].src.url, width: "220", height: '150'
        - unless item.trading_status == "出品中"
          .sold
            SOLD OUT
    .productList--bottom
      %h3.name 
        = item.name
      .details
        %ul
          %li 
            = "#{item.price}円"
          %li
            %i.fa.fa-star.likeIcon
            0
        %p (税込)

