.main
  = render "layouts/header_toppage"
  = render "mainVisual"
  = render "topIntroduction"
  = render "topMiddleDl"
  = render "topKeyFeatures"
  = render "pickupContainer"
  = render "layouts/appBanner_toppage"
  = render "layouts/footer_toppage"

