= render "layouts/header_toppage"
.show-main
  .show-main__content
    .top-content
      .itembox
        .itembox__name
          = @item.name
        .itembox__body
          .itembox__body--bigimg
            = image_tag @item.images[0].src.url
            - unless @item.trading_status == "出品中"
              .sold
                SOLD OUT
          %ul
            - @item.images.each_with_index do |image, i|
              %li= image_tag image.src.url, data: { index: i }, width: "100", height: '100'
        .itembox__price
          %span 
            = "¥#{@item.price}"
          .itembox__price--detail
            %span
              (税込み)
            %span
              送料込み
        - unless @item.trading_status == "売り切れ"
          - if current_user&.id == @user.id
            =link_to "編集する", edit_item_path ,class: "btn btnEdit"
            =link_to "削除する", item_path, method: :delete, class: "btn btnDelete" ,data: {confirm: "本当に削除しますか？"}
          - else
            =link_to "購入する", "", class: "btn btnPurchase"
        .itembox__itemdetail
          = simple_format(h(@item.introduction))
        .itembox__table
          %table
            %tr
              %th 出品者
              %td 
                = @user.nickname
            %tr
              %th カテゴリー
              %td 
                = link_to @category.name, category_path(@category)
            %tr
              %th ブランド
              %td 
            %tr
              %th 商品のサイズ 
              %td 
            %tr
              %th 商品の状態
              %td 
                = @item.item_condition.name

            %tr
              %th 配送料の負担
              %td 
                = @item.postage_payer.name
            %tr
              %th 配送地域
              %td 
                = @item.prefecture_code
            %tr
              %th 発送日の目安
              %td 
                = @item.preparation_day.name
        .itembox__optionalArea
          %ul
            %li.optionalBtn--likeBtn
              %i.fa.fa-star
                お気に入り 0
          %ul.optional
            %li.optionalBtn
              %a{:href => "#"} 
                %i.fa.fa-flag
                  不適切な商品の通報

      .commentBox
        = form_with url: root_path, class: "newComments", local: true do |f|
          = f.text_area :comment, class: "commentBody"
          .noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{type: "submit", class: "commentBtn"}
            %i.fas.fa-comment
              コメントする
            
      .links
        %li
          %a{:href => "#"}
            %i.fa.fa-angle-left
              %span
                前の商品
        %li.last
          %a{:href => "#"}
            %span
              後ろの商品
              %i.fa.fa-angle-right
      .relatedItems
        %a{:href => "#"} ベビー・キッズをもっと見る
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"
