= render "layouts/header_toppage"
- breadcrumb :card
= render "layouts/breadcrumbs"
.mainmypage
  = render "users/sidebar"
  = render "cardshow"
= render "layouts/appBanner_toppage"
= render "layouts/footer_toppage"