.top-page-footer
  .top-page-footer__contents
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        FURIMAについて
      %li
        = link_to "会社概要(運営会社)","/"
      %li   
        = link_to "プライバシーポリシー","/"
      %li   
        = link_to "FURIMA利用規約","/"
      %li
        = link_to "ポイントに関する特約","/"
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        FURIMAを見る
      %li
        = link_to "カテゴリー一覧","/"
      %li   
        = link_to "ブランド一覧","/"
    .top-page-footer__content
      %li
      .top-page-footer__content--title
        ヘルプ&ガイド
      %li
        = link_to "FURIMAのガイド","/"
      %li   
        = link_to "FURIMAロゴ利用ガイドライン","/"
      %li   
        = link_to "お知らせ","/"
  .top-page-footer__logo
    = link_to image_tag("logo-white.png",size:"170x50"),"/"
    .top-page-footer__logo--Cmark
      © FURIMA
= link_to new_item_path,class:"top-page-footer__exhibitionBtn" do
  .top-page-footer__exhibitionBtn--icon
    .top-page-footer__exhibitionBtn--text
      出品する
    = image_tag("icon_camera.png",size:"60x60")