.top-page-header
  .top-page-header__headerinner
    .top-page-header__mainheader
      .top-page-header__image
        = link_to image_tag("/assets/logo.png",size:"150x45")
      = form_tag('#', method: :get, class: "top-page-header__searchbox") do
        %input.top-page-header__form{name: "keyword", placeholder: "キーワードから探す",type: "text", value: ""}
        %button.top-page-header__form--btn{title: "",type: "submit"}
          = image_tag src="icon-search 1.png",size:"30x30"
    
    .top-page-headerNav
      .top-page-headerNav__left
        %ul
          %li.top-page-headerNav__left--category
            = link_to "カテゴリ","/"
          %li.top-page-headerNav__left--bland
            = link_to "ブランド","/"
          
      .top-page-headerNav__right
        %ul
          - if user_signed_in?
            %li.top-page-headerNav__right--mypage
              = link_to "#{current_user.nickname}さんのマイページ", users_mypage_users_path
          - else
            %li.top-page-headerNav__right--login
              = link_to "ログイン",user_session_path
            %li.top-page-headerNav__right--signup
              = link_to "新規登録",new_user_registration_path