<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample75e</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <h1>テスト</h1>
    <h1>aaaaa</h1>

    <%= yield %>
  </body>
</html>
