!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample75e
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .top-page-header
      .top-page-header__headerinner
        .top-page-header__mainheader
          .top-page-header__image
            = link_to image_tag("logo.png",size:"150x45")
          = form_tag('#', method: :get, class: "top-page-header__searchbox") do
            %input.top-page-header__form{name: "keyword", placeholder: "キーワードから探す",type: "text", value: ""}
            %button.top-page-header__form--btn{title: "",type: "submit"}
              = image_tag src="icon-search 1.png",size:"30x30"
        
        .top-page-headerNav
          .top-page-headerNav__left
            %ul
              %li.top-page-headerNav__left--category
                %a{:href => ""}カテゴリ
              %li.top-page-headerNav__left--bland
                %a{:href => ""}ブランド
              
          .top-page-headerNav__right
            %ul
              %li.top-page-headerNav__right--login
                %a{:href => ""}ログイン
              %li.top-page-headerNav__right--signup
                %a{:href => ""}新規登録

    .top-page-appBanner
      .top-page-appBanner__title
        だれでもかんたん、人生を楽しくするフリマアプリ
        .top-page-appBanner__text
          今すぐ無料ダンロード！
          .top-page-appBanner__icons
            .top-page-appBanner__icons--Apple
              %a{:href => ""}
                =image_tag src="App_Store.svg",size:"140x60"
            .top-page-appBanner__icons--Google
              %a{:href => ""}
                = image_tag src="google-play-badge.png",size:"190x90"

    .top-page-footer
      .top-page-footer__contents
        .top-page-footer__content
          %li
          .top-page-footer__content--title
            FURIMAについて
          %li
            %a{:href => ""}会社概要(運営会社)
          %li   
            %a{:href => ""}プライバシーポリシー
          %li   
            %a{:href => ""}FURIMA利用規約
          %li
            %a{:href => ""}ポイントに関する特約
        .top-page-footer__content
          %li
          .top-page-footer__content--title
            FURIMAを見る
          %li
            %a{:href => ""}カテゴリー一覧
          %li   
            %a{:href => ""}ブランド一覧
        .top-page-footer__content
          %li
          .top-page-footer__content--title
            ヘルプ&ガイド
          %li
            %a{:href => ""}FURIMAのガイド
          %li   
            %a{:href => ""}FURIMAロゴ利用ガイドライン
          %li   
            %a{:href => ""}お知らせ
      .top-page-footer__logo
        %a{:href => ""}
          =image_tag src="logo-white.png",size:"170x50"
        .top-page-footer__logo--Cmark
          © FURIMA
    %a{:href => ""}
      .top-page-footer__exhibitionBtn
        出品
        .top-page-footer__exhibitionBtn--icon
          = image_tag src="icon_camera.png",size:"60x60"





    = yield
